source ~/.vim/vimrc
" To get a list of Actions run `:actionlist `
" let mapleader = ','
" let mapleader = " "
let mapleader = "\<SPACE>"

set ignorecase smartcase
set NERDTree
set hlsearch
set showmode
set scrolloff=5
set history=1000
set surround
set incsearch
set relativenumber
set number
set smartcase
set hlsearch
set visualbell
set noerrorbells
set easymotion
set commentary
set ideajoin
set exchange
set multiple-cursors
set sneak

nmap <Leader>ir <Action>(IdeaVim.ReloadVimRc.reload)

" clear the search buffer when hitting return
nnoremap <Leader>/ :nohlsearch<cr>

" To copy text to the end-of-line, press Y.
" This mapping sets up Y to be consistent with
" the C and D operators, which act from the cursor
" to the end of the line. The default behavior of Y
" is to yank the whole line.
nnoremap Y y$


" Shortcut for copying to/from System Clipboard
vmap <Leader>y "+y
vmap <Leader>d "+d
nmap <Leader>P "+P

" Greatest remap EVER!! 
" Let me explain, this remap while in visiual mode
" will delete what is currently highlighted and replace it 
" with what is in the register BUT it will YANK (delete) it 
" to a VOID register. Meaning I still have what I originally had
" when I pasted. I don't loose the previous thing I YANKED!
vnoremap <leader>p "_dP

" nmap <leader>fs :action FileStructurePopup<CR>


" Some search and replace shortcuts
" nnoremap <Leader><Leader>r :%s///g<Left><Left>
" nnoremap <Leader><Leader>rc :%s///g<Left><Left><Left>

" Project Shortcuts
" =================
" Close Project

" Some Action commands to memic my native vim
" For a list of :action try :actionlist
" ===========================================
" Hide open panels
nmap <Leader>w :action HideAllWindows<CR>

" Open Global Find Dialog box
nmap <Leader>sg :action FindInPath<CR>

" Open Terminal
nmap <Leader>t :action ActivateTerminalToolWindow<CR>

" Open recent project dialog box
nmap <Leader><Leader>m :action ManageRecentProjects<CR>

" Mapping to mimic BufferExplorer
" nmap <Leader>be :action Switcher<CR>
nmap <Leader>fb :action RecentFiles<CR>
nmap <Leader>ff :action GotoFile<CR>
nmap <Leader>fg :action SearchEverywhere<CR>
nmap <Leader><Leader>b :action RecentFiles<CR>
nnoremap gO       :action FileStructurePopup<CR>
nnoremap -        :action SelectInProjectView<CR>

" Toggle code minimap
nmap <Leader>m :action CodeGlance.toggle<CR>

" Nerdtree
" nmap <Leader>nt :action ActivateProjectToolWindow<CR>
nmap <Leader>nt :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapCloseDir="h"

" Toggle ToggleDistractionFreeMode
nmap - :action ToggleDistractionFreeMode<CR>

" Quick Quite
nnoremap <leader>q :q <CR>

"Coding Formating
" ===============
nnoremap <leader>cf :action ReformatCode<CR>

" Git
nmap <Leader>gs :action CheckinProject<CR>
nmap <Leader>gc :action CheckinProject<CR>
nmap <Leader>ga :action Git.Add<CR>
nmap <Leader>gp :action Git.Pull<CR>
nmap <Leader>gn :action Annotate<CR>
nmap <Leader>gl :action Git.Log<CR>
nmap <Leader>go :action Github.Open.In.Browser<CR>
nmap <Leader>br :action Git.Branches<CR>
nmap <Leader>gb :action Git.Branches<CR>

" View my customize Quicklist
nmap <Leader><leader>l :action QuickList.MyList<CR>

" AceJump Plugin - Jump to Character
nmap <Leader><Leader>w :action AceAction<CR>

" Commenting
nmap <Leader>cc :action CommentByLineComment<CR>
nmap <Leader>cb :action CommentByBlockComment<CR>
nmap <Leader>c<Space> :action CommentByLineComment<CR>
nmap <Leader>cb<Space> :action CommentByBlockComment<CR>

" Refactoring
nmap <Leader>rt :action Refactorings.QuickListPopupAction<CR>
"nmap csw' :action Macro.surround_with_single_quote<CR>

"Code Diagnostics
nnoremap [q :action GotoPreviousError<CR>
nnoremap ]q :action GotoNextError<CR>
nmap <leader>s <Action>(ShowUsages)
nmap <leader>t <Action>(TypeHierarchy)
nmap <leader>u <Action>(FindUsages)
nnoremap gD       :action GotoImplementation<CR>
nmap gb <Action>(Back)
nmap gD <Action>(GotoTypeDeclaration)
nmap gf <Action>(Forward)
nmap gl <Action>(QuickJavaDoc)
nmap gL <Action>(QuickImplementations)
nmap gy <Action>(ShowErrorDescription)

" debugger
nnoremap <C-q> :action EvaluateExpression<CR>
nnoremap <Delete> :action ToggleLineBreakpoint<CR>
nnoremap <Left> :action StepOut<CR>
nnoremap <Right> :action StepOver<CR>
nnoremap <A-Right> :action Resume<CR>
nnoremap <F5> :action Resume<CR>
nnoremap <Up> :action Debugger.FramePanelPopup<CR>
nnoremap <Down> :action StepInto<CR>
nnoremap <A-Down> :action SmartStepInto<CR>
nnoremap <A-d> :action JavaDebuggerActions<CR>
nmap <C>] :action XDebugger.JumpToSource


"To be mapped
" action ShowIntentionActions
"FileStructurePopup