touchegg &
lxqt-policykit-agent&
picom -f --vsync --dbus --experimental-backend --config ~/.config/picom/picom  -b &
case $DESKTOP_SESSION in
	awesome)
		;;
	*) 
		wired &
		feh --bg-fill ~/Pictures/new-walls/wallhaven-landscape.jpg &
		~/.config/eww/controlewwr mybar open bar &
		;;
esac

